.slider-container {
  position: relative;
  width: 720px;
  height: 480px;
  overflow: hidden;
}

.slider-container .loading {
  position: absolute;
  top: 0px;
  left: 0px;
}

.slider-container .loading .overlay {
  filter: alpha(opacity=70);
  opacity:0.7;
  position: absolute;
  display: block;
  background-color: #000;
  top: 0px;
  left: 0px;
  width: 100%;
  height:100%;
}

.slider-container .loading .img-wrapper {
  position: absolute;
  display: block;
  background: url(loading.gif) no-repeat center center;
  top: 0px;
  left: 0px;
  width: 100%;
  height:100%;
}

.slider-container .slides {
  cursor: move;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 720px;
  height: 480px;
  overflow: hidden;
}

/* Navigator */
.slider-container .navigator-default {
  position: absolute;
  width: 720px;
  height: 100px;
  left:0px;
  bottom: 0px;
}

.slider-container .navigator-default .bkg {
  background-color: #000;
  filter:alpha(opacity=30);
  opacity:.3;
  width: 100%;
  height:100%;
}

/* jssor slider thumbnail navigator skin 07 css */
/*
  .navigator-default .p            (normal)
  .navigator-default .p:hover      (normal mouseover)
  .navigator-default .pav          (active)
  .navigator-default .pav:hover    (active mouseover)
  .navigator-default .pdn          (mousedown)
*/
.slider-container .navigator-default .i {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 99px;
  height: 66px;
  filter: alpha(opacity=80);
  opacity: .8;
}

.slider-container .navigator-default .nav-slides .p {
  position: absolute;
  width: 99px;
  height: 66px;
  top: 0;
  left: 0;
}

.slider-container .navigator-default .nav-slides .i {
  position:absolute;
}


.slider-container .navigator-default .p:hover .i, .navigator-default .pav .i {
  filter: alpha(opacity=100);
  opacity: 1;
}

.slider-container .navigator-default .o {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid #000;
  transition: border-color .6s;
  -moz-transition: border-color .6s;
  -webkit-transition: border-color .6s;
  -o-transition: border-color .6s;
}

* html .slider-container  .navigator-default .o {
  /* ie quirks mode adjust */
  /*width : 99px;*/
  /*height : 66px;*/
}

.slider-container .navigator-default .pav .o, .navigator-default .p:hover .o {
  border-color: #fff;
}

.slider-container .navigator-default .pav:hover .o {
  border-color: #0099FF;
}

.slider-container .navigator-default .p:hover .o {
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
}

.slider-container .navigator-default .nav-slides {
  cursor: move;
}


/* jssor slider arrow navigator skin 11 css */
/*
  .arrow-default-l              (normal)
  .arrow-default-r              (normal)
  .arrow-default-l:hover        (normal mouseover)
  .arrow-default-r:hover        (normal mouseover)
  .arrow-default-ldn            (mousedown)
  .arrow-default-rdn            (mousedown)
*/
.slider-container .arrow-default-l, .arrow-default-r, .arrow-default-ldn, .arrow-default-rdn {
  position: absolute;
  cursor: pointer;
  display: block;
  background: url(a11.png) no-repeat;
  overflow: hidden;
}

.slider-container .arrow-default-l {
  width: 37px;
  height: 37px;
  top: 123px;
  left: 8px;
  background-position: -11px -41px;
}

.slider-container .arrow-default-r {
  width: 37px;
  height: 37px;
  top: 123px;
  right: 8px;
  background-position: -71px -41px;
}

.slider-container .arrow-default-l:hover {
  background-position: -131px -41px;
}

.slider-container .arrow-default-r:hover {
  background-position: -191px -41px;
}

.slider-container .arrow-default-ldn {
  width: 37px;
  height: 37px;
  top: 123px;
  left: 8px;
  background-position: -251px -41px;
}

.slider-container .arrow-default-rdn {
  width: 37px;
  height: 37px;
  top: 123px;
  right: 8px;
  background-position: -311px -41px;
}
