             /* jssor slider thumbnail Navigator Skin 12 css */
            /*
            .jssort12 .p            (normal)
            .jssort12 .p:hover      (normal mouseover)
            .jssort12 .pav          (active)
            .jssort12 .pav:hover    (active mouseover)
            .jssort12 .pdn          (mousedown)
            */
            .jssort12 .p img {
                FILTER: alpha(opacity=55);
                opacity: 1;
                transition: opacity .6s;
                -moz-transition: opacity .6s;
                -webkit-transition: opacity .6s;
                -o-transition: opacity .6s;
            }
             .jssort12 .pav img, .jssort12 .pav:hover img, .jssort12 .p:hover img {
                FILTER: alpha(opacity=100);
                opacity: 1;
                transition: none;
                -moz-transition: none;
                -webkit-transition: none;
                -o-transition: none;
            }
             .jssort12 .pav:hover img, .jssort12 .p:hover img {
                FILTER: alpha(opacity=70);
                opacity: .7;
            }
            
            .jssort12 .title, .jssort12 .title_back {
                position: absolute;
                top: 70px;
                left: 0px;
                width: 126px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                color: #000;
                font-size: 20px;
            }
             .jssort12 .title_back {
                background-color: #fff;
                filter: alpha(opacity=50);
                opacity: .5;
            }
             .jssort12 .pav:hover .title_back, .jssort12 .p:hover .title_back {
                filter: alpha(opacity=40);
                opacity: .4;
            }
            
            .jssort12 .pav .title_back {
                background-color: #000;
                filter: alpha(opacity=50);
                opacity: .5;
            }
            
            .jssort12 .pav .title {
                color: #fff;
            }

            /* jssor slider arrow navigator skin 11 css */
                    /*
                .jssora11l              (normal)
                .jssora11r              (normal)
                .jssora11l:hover        (normal mouseover)
                .jssora11r:hover        (normal mouseover)
                .jssora11ldn            (mousedown)
                .jssora11rdn            (mousedown)
                */
                    .jssora11l, .jssora11r, .jssora11ldn, .jssora11rdn {
                        position: absolute;
                        cursor: pointer;
                        display: block;
                        background: url(a01.png) no-repeat #efefef;
                        overflow: hidden;
                    }

                    .jssora11l {
                        background-position: -8px -13px;
                    }

                    .jssora11r {
                        background-position: -68px -13px;
                    }

                    .jssora11l:hover {
                        background-position: -128px -13px;
                    }

                    .jssora11r:hover {
                        background-position: -188px -13px;
                    }
                    
                    .jssora11l:hover, .jssora11r:hover {
                      background-color: #EAEAEA;
                    }

                    .jssora11ldn {
                        background-position: -248px -13px;
                    }

                    .jssora11rdn {
                        background-position: -308px -13px;
                    }
