            /*
            .jssorb06 div           (normal)
            .jssorb06 div:hover     (normal mouseover)
            .jssorb06 .av           (active)
            .jssorb06 .av:hover     (active mouseover)
            .jssorb06 .dn           (mousedown)
            */
            .jssorb06 div, .jssorb06 div:hover, .jssorb06 .av
            {
                background: url(img/b06.png) no-repeat;
                overflow:hidden;
                cursor: pointer;
            }
            .jssorb06 div { background-position: -6px -6px; }
            .jssorb06 div:hover, .jssorb06 .av:hover { background-position: -36px -6px; }
            .jssorb06 .av { background-position: -66px -6px; }
            .jssorb06 .dn, .jssorb06 .dn:hover { background-position: -96px -6px; }

            
            /* jssor slider arrow navigator skin 14 css */
            /*
            .jssora14l              (normal)
            .jssora14r              (normal)
            .jssora14l:hover        (normal mouseover)
            .jssora14r:hover        (normal mouseover)
            .jssora14ldn            (mousedown)
            .jssora14rdn            (mousedown)
            */
            .jssora14l, .jssora14r, .jssora14ldn, .jssora14rdn
            {
            	position: absolute;
            	cursor: pointer;
            	display: block;
                background: url(img/a14.png) no-repeat;
                overflow:hidden;
            }
            .jssora14l { background-position: -15px -35px; }
            .jssora14r { background-position: -75px -35px; }
            .jssora14l:hover { background-position: -135px -35px; }
            .jssora14r:hover { background-position: -195px -35px; }
            .jssora14ldn { background-position: -255px -35px; }
            .jssora14rdn { background-position: -315px -35px; }

            .jssor-container .loading {
              position: absolute; 
              display: block; 
              background: url(img/loading.gif) no-repeat center center;
              top: 0px; 
              left: 0px; 
              width: 100%; 
              height: 100%;            
            }
            
            .jssor-caption {
              position: absolute; 
              width: 480px; 
              height: 120px; 
              top: 300px; 
              left: 30px; 
              padding: 5px;
              text-align: left; 
              line-height: 36px; 
              font-size: 30px;
              color: #FFFFFF;
            }