.jssor-gallery {
position: relative; top: 0px; left: 0px; width: 800px;
height: 456px; background: #191919; overflow: hidden;
}

.jssor-gallery .loading-bkg {
position: absolute; display: block; background: url(loading.gif) no-repeat center center; top: 0px; left: 0px;width: 100%;height:100%;
}

/* jssor slider arrow navigator skin 05 css */
/*
.jssora05l  (normal)
.jssora05r  (normal)
.jssora05l:hover(normal mouseover)
.jssora05r:hover(normal mouseover)
.jssora05ldn(mousedown)
.jssora05rdn(mousedown)
*/
.jssora05l, .jssora05r, .jssora05ldn, .jssora05rdn
{
	position: absolute;
	cursor: pointer;
	display: block;
background: url(a17.png) no-repeat;
overflow:hidden;
}
.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05ldn { background-position: -250px -40px; }
.jssora05rdn { background-position: -310px -40px; }

/* jssor slider thumbnail navigator skin 01 css */
/*
.jssort01 .p   (normal)
.jssort01 .p:hover (normal mouseover)
.jssort01 .pav   (active)
.jssort01 .pav:hover (active mouseover)
.jssort01 .pdn   (mousedown)
*/
.jssort01 .w {
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
}

.jssort01 .c {
position: absolute;
top: 0px;
left: 0px;
width: 68px;
height: 68px;
border: #000 2px solid;
}

.jssort01 .p:hover .c, .jssort01 .pav:hover .c, .jssort01 .pav .c {
background: url(t01.png) center center;
border-width: 0px;
top: 2px;
left: 2px;
width: 68px;
height: 68px;
}

.jssort01 .p:hover .c, .jssort01 .pav:hover .c {
top: 0px;
left: 0px;
width: 70px;
height: 70px;
border: #fff 1px solid;
}
