             /* jssor slider thumbnail Navigator Skin 12 css */
            /*
            .jssort12 .p            (normal)
            .jssort12 .p:hover      (normal mouseover)
            .jssort12 .pav          (active)
            .jssort12 .pav:hover    (active mouseover)
            .jssort12 .pdn          (mousedown)
            */
            
.jssort12 .o {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid #0100B9;
  box-sizing: border-box;
  transition: border-color .6s;
  -moz-transition: border-color .6s;
  -webkit-transition: border-color .6s;
  -o-transition: border-color .6s;
}

* html .jssort12 .o {
  /* ie quirks mode adjust */
  /*width : 99px;*/
  /*height : 66px;*/
}

.jssort12  .pav .o, .jssort12 .p:hover .o {
  border-color: #fff;
}

.jssort12 .pav:hover .o {
  border-color: #0099FF;
}

.jssort12 .p:hover .o {
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
}
            
            
            .jssort12 .bkg {
              background-color: #000;
              filter:alpha(opacity=30);
              opacity:.3;
              width: 100%;
              height:100%;
            }
            
            .jssort12 .title, .jssort12 .title_back {
                position: absolute;
                top: 70px;
                left: 0px;
                width: 126px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                color: #000;
                font-size: 20px;
            }
             .jssort12 .title_back {
                background-color: #fff;
                filter: alpha(opacity=50);
                opacity: .5;
            }
             .jssort12 .pav:hover .title_back, .jssort12 .p:hover .title_back {
                filter: alpha(opacity=40);
                opacity: .4;
            }
            
            .jssort12 .pav .title_back {
                background-color: #000;
                filter: alpha(opacity=50);
                opacity: .5;
            }
            
            .jssort12 .pav .title {
                color: #fff;
            }

            /* jssor slider arrow navigator skin 11 css */
                    /*
                .jssora11l              (normal)
                .jssora11r              (normal)
                .jssora11l:hover        (normal mouseover)
                .jssora11r:hover        (normal mouseover)
                .jssora11ldn            (mousedown)
                .jssora11rdn            (mousedown)
                */
                    .jssora11l, .jssora11r, .jssora11ldn, .jssora11rdn {
                        position: absolute;
                        cursor: pointer;
                        display: block;
                        background: url(a11.png) no-repeat;
                        overflow: hidden;
                    }

                    .jssora11l {
                      background-position: -11px -41px;
                    }

                    .jssora11r {
                        background-position: -71px -41px;
                    }

                    .jssora11l:hover {
                        background-position: -131px -41px;
                    }

                    .jssora11r:hover {
                        background-position: -191px -41px;
                    }
                    
                    .jssora11ldn {
                        background-position: -251px -41px;
                    }

                    .jssora11rdn {
                        background-position: -311px -41px;
                    }
